{% extends ('::base.html.twig') %}

{% block entete %}
	<div id="entete-box">
		<div id="entete">
			<h1 id="title-idx">EventHome - Wedding Planer</h1>
			<p id="title-idx">Amandine Gautier</p>
		</div>
	</div>
{% endblock %}